@font-face {
    font-family: 'Domine';
    src: url('Domine-Bold.eot'); /* IE9 */
    src: url('Domine-Bold.woff') format('woff'), /* Современные браузеры */
         url('Domine-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Domine-Bold.svg#magistralcbold') format('svg'); /* iOS */
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}